RPA/Files/XSD/Segment/schema3.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://xmlns.oracle.com/apps/financials/generalLedger/accounts/codeCombinations/accountCombinationService/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/financials/generalLedger/accounts/codeCombinations/accountCombinationService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Segment1" type="xs:unsignedByte" />
  <xs:element name="Segment2" type="xs:unsignedShort" />
  <xs:element name="Segment3" type="xs:unsignedInt" />
  <xs:element name="Segment4" type="xs:unsignedShort" />
  <xs:element name="Segment5" type="xs:unsignedShort" />
  <xs:element name="Segment6" type="xs:unsignedShort" />
  <xs:element name="Segment7" type="xs:unsignedInt" />
  <xs:element name="Segment8" type="xs:unsignedInt" />
  <xs:element name="Segment9" type="xs:unsignedShort" />
  <xs:element name="Segment10" type="xs:unsignedShort" />
  <xs:element name="Segment11" type="xs:unsignedShort" />
  <xs:element name="Segment12" nillable="true" />
  <xs:element name="Segment13" nillable="true" />
  <xs:element name="Segment14" nillable="true" />
  <xs:element name="Segment15" nillable="true" />
  <xs:element name="Segment16" nillable="true" />
  <xs:element name="Segment17" nillable="true" />
  <xs:element name="Segment18" nillable="true" />
  <xs:element name="Segment19" nillable="true" />
  <xs:element name="Segment20" nillable="true" />
  <xs:element name="Segment21" nillable="true" />
  <xs:element name="Segment22" nillable="true" />
  <xs:element name="Segment23" nillable="true" />
  <xs:element name="Segment24" nillable="true" />
  <xs:element name="Segment25" nillable="true" />
  <xs:element name="Segment26" nillable="true" />
  <xs:element name="Segment27" nillable="true" />
  <xs:element name="Segment28" nillable="true" />
  <xs:element name="Segment29" nillable="true" />
  <xs:element name="Segment30" nillable="true" />
  <xs:element name="Status" type="xs:string" />
  <xs:element name="LedgerName" type="xs:string" />
  <xs:element name="CcId" type="xs:string" />
  <xs:element name="Error" nillable="true" />
  <xs:element name="ErrorCode" nillable="true" />
  <xs:element name="EnabledFlag" nillable="true" />
  <xs:element name="FromDate" nillable="true" />
  <xs:element name="ToDate" nillable="true" />
</xs:schema>