RPA/Files/XSD/CodeSegments/schema2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://xmlns.oracle.com/apps/financials/generalLedger/accounts/codeCombinations/accountCombinationService/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/financials/generalLedger/accounts/codeCombinations/accountCombinationService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DynamicInsertion" type="xs:string" />
  <xs:element name="Segment1" type="xs:string" />
  <xs:element name="Segment2" type="xs:string" />
  <xs:element name="Segment3" type="xs:string" />
  <xs:element name="Segment4" type="xs:string" />
  <xs:element name="Segment5" type="xs:string" />
  <xs:element name="Segment6" type="xs:string" />
  <xs:element name="Segment7" type="xs:string" />
  <xs:element name="Segment8" type="xs:string" />
  <xs:element name="Segment9" type="xs:string" />
  <xs:element name="Segment10" type="xs:string" />
  <xs:element name="Segment11" type="xs:string" />
  <xs:element name="LedgerName" type="xs:string" />
</xs:schema>