RPA/WebServiceClient/Web Services Client_1/UnapplyOnAccount.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/" sdoJava:package="oracle.apps.financials.receivables.receipts.shared.standardReceiptService.commonService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/">Receivables Standard Receipt On-Account Unapplication SDO</name>
      <description xmlns="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/">Receipt Activity On Account Unapplication</description>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Cash receipt number." name="ReceiptNumber" />
        <oer:attribute description="Identifies the receivable application." name="ReceivablesApplicationId" />
        <oer:attribute description="GL date payment entry reversed." name="ReversalGlDate" />
        <oer:attribute description="A unit of an enterprise that performs one or more business functions that can be rolled up in a management hierarchy." name="BusinessUnit" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="UnapplyOnAccount">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>CashReceiptId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ReceiptNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ReceivablesApplicationId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="ReversalGlDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="BusinessUnit" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UnapplyOnAccountResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="UnapplyOnAccount" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="unapplyOnAccount" type="UnapplyOnAccount" />
  <xsd:element name="unapplyOnAccountResult" type="UnapplyOnAccountResult" />
</xsd:schema>