Rolecall_To_Fusion/Rolecall_To_Fusion/Files/RoleCall_FU/Fusion/Customer/CreateAccount/Request/BeforeAddingBusinessManager/schema3.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OrigSystem" type="xs:string" />
  <xs:element name="OrigSystemReference" type="xs:unsignedLong" />
  <xs:element name="OwnerTableName" type="xs:string" />
  <xs:element name="CreatedByModule" type="xs:string" />
</xs:schema>