RPA/Files/XSD/AR_ADJ/schema2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://xmlns.oracle.com/apps/financials/receivables/transactions/adjustments/adjustmentService/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/financials/receivables/transactions/adjustments/adjustmentService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AdjustmentType" type="xs:string" />
  <xs:element name="Amount" type="xs:string" />
  <xs:element name="ApplyDate" type="xs:string" />
  <xs:element name="CustomerTrxId" type="xs:string" />
<xs:element name="AssociatedCashReceiptId" type="xs:string" />
  <xs:element name="SetOfBooksId" type="xs:string" />
  <xs:element name="CurrencyCode" type="xs:string" />
  <xs:element name="GlDate" type="xs:string" />
  <xs:element name="OrgId" type="xs:string" />
  <xs:element name="PaymentScheduleId" type="xs:string" />
  <xs:element name="ReceivablesTrxId" type="xs:string" />
  <xs:element name="TransactionAdjustmentType" type="xs:string" />
  <xs:element name="CodeCombinationId" type="xs:string" />
  <xs:element name="Comments" type="xs:string" />
</xs:schema>