RPA/Files/Schemas/WriteOff/BankCharges/BanckChargesRequestSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BusinessUnit" type="xs:string"/>
  <xs:element name="ReceiptNumber" type="xs:string"/>
  <xs:element name="ReceivableTrxName" type="xs:string"/>
  <xs:element name="Comments" type="xs:string"/>
  <xs:element name="AmountApplied" type="xs:float"/>
  <xs:element name="ApplyDate" type="xs:date"/>
  <xs:element name="ApplyGlDate" type="xs:date"/>
  <xs:element name="AppliedPaymentScheduleId" type="xs:byte"/>
</xs:schema>

</xml>