NetSuiteWebhook/NetSuiteWebhook/RestClient/REST Client_Fusion Checks/schema/fscmRestApi_resources_11_Dot13_Dot18_Dot05_valueSets_Customer_child_para_Get.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Path">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PathParameters">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Customer" type="xs:string" />
              <xs:element minOccurs="0" name="para" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>