NetSuiteWebhook/NetSuiteWebhook/Files/NS_FU/Fusion/AR Credit Memo/AR_CM_INV_Application/ErrorResponse/schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema2.xsd" namespace="http://xmlns.oracle.com/adf/svc/errors/" />
  <xs:element name="faultcode" type="xs:string" />
  <xs:element name="faultstring" type="xs:string" />
  <xs:element name="detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://xmlns.oracle.com/adf/svc/errors/" ref="q1:ServiceErrorMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>