NetSuiteWebhook/NetSuiteWebhook/Files/NS_FU/Fusion/AR Credit Memo/AR_CM_INV_Application/ErrorResponse/schema2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://xmlns.oracle.com/adf/svc/errors/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/adf/svc/errors/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ServiceErrorMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" type="xs:string" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="severity" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="detail">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="code" type="xs:string" />
              <xs:element name="message" type="xs:string" />
              <xs:element name="severity" type="xs:string" />
              <xs:element name="exceptionClassName" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="exceptionClassName" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>