NetSuiteWebhook/NetSuiteWebhook/Files/NS_FU/Fusion/Customer/CreateAccount/Request -BeforetermsETC/schema4.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccount/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccount/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cinNum" />
  <xs:element name="customerProvidedCode" />
  <xs:element name="customerGroup" type="xs:string" />
  <xs:element name="wthTaxCode" />
  <xs:element name="defaultTdsRate" />
  <xs:element name="concessional" />
  <xs:element name="validityPeriod" />
  <xs:element name="thresholdLimit" />
  <xs:element name="virtualAccountNum" />
  <xs:element name="salesRep" type="xs:string" />
  <xs:element name="warehouse" type="xs:unsignedByte" />
  <xs:element name="marketing" type="xs:unsignedByte" />
</xs:schema>