RPA/RPA/Files/Schemas/WriteOff/GST/GST_schema2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BusinessUnit" type="xs:string" />
  <xs:element name="ReceiptNumber" type="xs:string" />
  <xs:element name="ReceivableTrxName" type="xs:string" />
  <xs:element name="Comments" type="xs:string" />
  <xs:element name="AmountApplied" type="xs:decimal" />
  <xs:element name="ApplyDate" type="xs:date" />
  <xs:element name="ApplyGlDate" type="xs:date" />
  <xs:element name="AppliedPaymentScheduleId" type="xs:integer" />
</xs:schema>