RPA/RPA/WebServiceClient/Web Services Client_1/ApplyOnAccount.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns2="http://xmlns.oracle.com/apps/flex/financials/receivables/receipts/shared/standardReceiptService/commonService/ApplyOnAccountGdf/" xmlns:sdoXML="commonj.sdo/xml" xmlns:sdoJava="commonj.sdo/java" xmlns:sdo="commonj.sdo" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/" xmlns:ns1="http://xmlns.oracle.com/apps/flex/financials/receivables/receipts/shared/standardReceiptService/commonService/ApplyOnAccountDff/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/" sdoJava:package="oracle.apps.financials.receivables.receipts.shared.standardReceiptService.commonService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="ReceivableApplicationFLEX(2).xsd" namespace="http://xmlns.oracle.com/apps/flex/financials/receivables/receipts/shared/standardReceiptService/commonService/ApplyOnAccountDff/" />
  <xsd:import schemaLocation="ReceivableApplicationGdf(1).xsd" namespace="http://xmlns.oracle.com/apps/flex/financials/receivables/receipts/shared/standardReceiptService/commonService/ApplyOnAccountGdf/" />
  <xsd:import schemaLocation="sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:import schemaLocation="sdoModel.xsd" namespace="commonj.sdo" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/">Receivables Standard Receipt On-Account Application SDO</name>
      <description xmlns="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/">Receipt Activity On Account Application</description>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Cash receipt number." name="ReceiptNumber" />
        <oer:attribute description="A unit of an enterprise that performs one or more business functions that can be rolled up in a management hierarchy." name="BusinessUnit" />
        <oer:attribute description="For same currency applications, the total amount of the application in the currency of the receipt and transaction.  For cross currency applications, the total amount of the application in the currency of the  transaction." name="AmountApplied" />
        <oer:attribute description="Date the application was applied." name="ApplyDate" />
        <oer:attribute description="Date that this application will post to the General Ledger." name="ApplyGlDate" />
        <oer:attribute description="Code defined by public sector accounting." name="USSGLTransactionCode" />
        <oer:attribute description="User comments." name="Comments" />
        <oer:attribute description="User-visible application reference number whose context is determined by the APPLICATION_REF_TYPE column's value." name="ApplicationReferenceNumber" />
        <oer:attribute description="User-visible application reference number whose context is determined by the SECONDARY_APPLICATION_REF_TYPE column's value." name="SecondaryApplicationReferenceNumber" />
        <oer:attribute description="Secondary application reference identifier of another transaction or application, such as a claim, that is associated with this receipt application." name="SecondaryApplicationReferenceId" />
        <oer:attribute description="Reference supplied by customer." name="CustomerReference" />
        <oer:attribute description="Customer reason for deductions and chargebacks associated with an application." name="CustomerReason" />
        <oer:attribute description="Identifies the application reference type and determines the context for the SECONDARY_APPLICATION_REF_ID and SECONDARY_APPLICATION_REF_NUM columns." name="SecondaryApplicationReferenceType" />
        <oer:attribute description="View Accessor of Recevable Application DFF." name="ReceivableApplicationFLEXVA" />
        <oer:attribute description="View Accessor of Recevable Application GDF." name="ApplyOnAccountGdfVA" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="ApplyOnAccount">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>ReceivableApplicationId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ReceiptNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="BusinessUnit" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AmountApplied" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="ApplyDate" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="ApplyGlDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="USSGLTransactionCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ApplicationReferenceNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SecondaryApplicationReferenceNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SecondaryApplicationReferenceId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="CustomerReference" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CustomerReason" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SecondaryApplicationReferenceType" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" name="ReceivableApplicationFLEXVA" type="ns1:ReceivableApplicationFLEX" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" name="ApplyOnAccountGdfVA" type="ns2:ReceivableApplicationGdf" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ApplyOnAccountResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="ApplyOnAccount" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="applyOnAccount" type="ApplyOnAccount" />
  <xsd:element name="applyOnAccountResult" type="ApplyOnAccountResult" />
</xsd:schema>