RPA/RPA/WebServiceClient/Web Services Client_1/StandardReceipt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns2="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/model/flex/StandardReceiptGdf/" xmlns:sdoXML="commonj.sdo/xml" xmlns:sdoJava="commonj.sdo/java" xmlns:sdo="commonj.sdo" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/" xmlns:ns1="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/model/flex/StandardReceiptDff/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/" sdoJava:package="oracle.apps.financials.receivables.receipts.shared.standardReceiptService.commonService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="StandardReceiptFLEX.xsd" namespace="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/model/flex/StandardReceiptDff/" />
  <xsd:import schemaLocation="StandardReceiptGdf.xsd" namespace="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/model/flex/StandardReceiptGdf/" />
  <xsd:import schemaLocation="sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:import schemaLocation="sdoModel.xsd" namespace="commonj.sdo" />
  <xsd:annotation>
    <xsd:documentation>
      <name xmlns="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/">Standard Receipt SDO</name>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="StandardReceipt">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>CashReceiptId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Amount" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="AnticipatedClearingDate" nillable="true" type="ns0:date-Date" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="CashReceiptId" type="xsd:long" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CustomerBankAccountId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="CustomerReceiptReference" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CustomerSiteUseId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="DefaultSiteUse" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DepositDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="CurrencyCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="DocumentSequenceValue" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="ExchangeDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="ExchangeRate" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="ExchangeRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FactorDiscountAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="GlDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="Installment" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="IssueDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="IssuerBankBranchId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="IssuerName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Location" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MaturityDate" nillable="true" type="ns0:date-Date" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="OrgId" type="xsd:long" />
      <xsd:element minOccurs="0" name="CustomerId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="OverrideRemitAccountFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="PaymentTransactionExtensionId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PostmarkDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="ReceiptDate" type="ns0:date-Date" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ReceiptMethodId" type="xsd:long" />
      <xsd:element minOccurs="0" name="ReceiptNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RemittanceBankAccountId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="UserExchangeRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="USSGLTransactionCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="UserCurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="StructuredPaymentReference" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" name="StandardReceiptFLEXVA" type="ns1:StandardReceiptFLEX" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" name="StandardReceiptGdfVA" type="ns2:StandardReceiptGdf" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StandardReceiptResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="StandardReceipt" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="standardReceiptResult" type="StandardReceiptResult" />
  <xsd:element name="standardReceipt" type="StandardReceipt" />
</xsd:schema>