DunningLetters/DunningLetters/Files/NS_FU/Fusion/Customer/CreateAccount/Request/schema4.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccount/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccount/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cinNum" type="xs:string" />
  <xs:element name="customerProvidedCode" type="xs:string" />
  <xs:element name="customerGroup" type="xs:string" />
  <xs:element name="customerGroupCode" type="xs:string" />
  <xs:element name="customerGrandParent" type="xs:string" />
  <xs:element name="customerGrandParentCode" type="xs:string" />
  <xs:element name="wthTaxCode" type="xs:string" />
  <xs:element name="defaultTdsRate" type="xs:string" />
  <xs:element name="concessional" type="xs:string" />
  <xs:element name="validityPeriod" type="xs:string" />
  <xs:element name="thresholdLimit" type="xs:string" />
  <xs:element name="virtualAccountNum" type="xs:string" />
  <xs:element name="salesRep" type="xs:string" />
  <xs:element name="warehouse" type="xs:string" />
  <xs:element name="marketing" type="xs:string" />
  <xs:element name="paymentTerms" type="xs:string" />
  <xs:element name="suppressReminder" type="xs:string" />
  <xs:element name="suppressStatement" type="xs:string" />
  <xs:element name="acquiredFrom" type="xs:string" />
  <xs:element name="invoiceType" type="xs:string" />
</xs:schema>