RPA/RPA/Files/XSD/AR_ADJ/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:adj2="http://xmlns.oracle.com/apps/flex/financials/receivables/transactions/adjustments/AdjustmentGdf/" xmlns:adj="http://xmlns.oracle.com/apps/financials/receivables/transactions/adjustments/adjustmentService/" xmlns:adj1="http://xmlns.oracle.com/apps/financials/receivables/transactions/adjustments/model/flex/AdjustmentsDff/" xmlns:typ="http://xmlns.oracle.com/apps/financials/receivables/transactions/adjustments/adjustmentService/types/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema1.xsd" namespace="http://xmlns.oracle.com/apps/financials/receivables/transactions/adjustments/adjustmentService/types/" />
  <xs:element name="Envelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="typ:createAdjustment" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>