CopyOfRolecall_To_Fusion/Files/RoleCall_FU/Fusion/Contact/Request/schema3.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema4.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xs:element name="RelationshipRecId" type="xs:string" />
  <xs:element name="RelationshipId" type="xs:string" />
  <xs:element name="SubjectId" type="xs:string" />
  <xs:element name="Email">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" ref="q1:ContactPointId" />
        <xs:element xmlns:q2="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" ref="q2:ContactPointType" />
        <xs:element xmlns:q3="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" ref="q3:EmailAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Phone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" ref="q4:ContactPointId" />
        <xs:element xmlns:q5="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" ref="q5:ContactPointType" />
        <xs:element xmlns:q6="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" ref="q6:PhoneCountryCode" />
        <xs:element xmlns:q7="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" ref="q7:PhoneNumber" />
        <xs:element xmlns:q8="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" ref="q8:PhoneLineType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>