CopyOfRolecall_To_Fusion/Files/RoleCall_FU/Fusion/Contact/Request/schema4.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ContactPointId" type="xs:string" />
  <xs:element name="ContactPointType" type="xs:string" />
  <xs:element name="EmailAddress" type="xs:string" />
  <xs:element name="PhoneCountryCode" type="xs:string" />
  <xs:element name="PhoneNumber" type="xs:string" />
  <xs:element name="PhoneLineType" type="xs:string" />
</xs:schema>