NetSuiteWebhook/NetSuiteWebhook/Files/NS_FU/Fusion/Customer/UpdateAccount/Request/UpdateCustomerAccount2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://xmlns.oracle.com/apps/cdm/foundation/parties/customerAccountService/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/customerAccountService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UpdateCustomerAccount3.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccount/" />
  <xs:element name="CustomerAccountId" type="xs:unsignedLong" />
  <xs:element name="PartyId" type="xs:unsignedLong" />
  <xs:element name="CustomerClassCode" type="xs:string" />
  <xs:element name="AccountName" type="xs:string" />
  <xs:element name="CustomerAccountSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CustomerAccountId" type="xs:unsignedLong" />
        <xs:element name="PartyId" type="xs:unsignedLong" />
        <xs:element name="CustomerAccountSiteId" type="xs:unsignedLong" />
        <xs:element name="CustomerAccountSiteUse">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SiteUseId" type="xs:unsignedLong" />
              <xs:element name="CustomerAccountSiteId" type="xs:unsignedLong" />
              <xs:element name="OrigSystemReference" type="xs:unsignedLong" />
              <xs:element name="PrimaryFlag" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustAcctInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="customerGroup" type="xs:string" />
        <xs:element name="customerGroupCode" type="xs:string" />
        <xs:element name="customerGrandParent" type="xs:string" />
        <xs:element name="customerGrandParentCode" type="xs:string" />
        <xs:element name="warehouse" type="xs:string" />
        <xs:element name="marketing" type="xs:string" />
        <xs:element name="cinNum" type="xs:string" />
        <xs:element name="customerProvidedCode" type="xs:string" />
        <xs:element name="wthTaxCode" type="xs:string" />
        <xs:element name="defaultTdsRate" type="xs:string" />
        <xs:element name="concessional" type="xs:string" />
        <xs:element name="validityPeriod" type="xs:string" />
        <xs:element name="thresholdLimit" type="xs:string" />
        <xs:element name="virtualAccountNum" type="xs:string" />
        <xs:element name="paymentTerms" type="xs:string" />
        <xs:element name="suppressReminder" type="xs:string" />
        <xs:element name="suppressStatement" type="xs:string" />
        <xs:element name="salesRep">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="nil" type="xs:string" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="acquiredFrom">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="nil" type="xs:string" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="invoiceType" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>