Rolecall_To_Fusion/Rolecall_To_Fusion/Files/RoleCall_FU/Fusion/Customer/MergeCustomerAccountSite/Request/schema2.xsd.bak

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://xmlns.oracle.com/apps/cdm/foundation/parties/customerAccountService/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/customerAccountService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema3.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountSite/" />
  <xs:element name="CustomerAccountId" type="xs:string" />
  <xs:element name="CustomerAccountSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PartySiteId" type="xs:string" />
        <xs:element name="CreatedByModule" type="xs:string" />
        <xs:element name="SetId" type="xs:unsignedLong" />
        <xs:element name="CustomerAccountSiteUse">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SiteUseCode" type="xs:string" />
              <xs:element name="LocationId" type="xs:string" />
              <xs:element name="CreatedByModule" type="xs:string" />
              <xs:element name="SetId" type="xs:unsignedLong" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CustAcctSiteInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q1="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/custAccountSite/" ref="q1:businessManager" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>