Rolecall_To_Fusion/Rolecall_To_Fusion/Files/RoleCall_FU/Fusion/Customer/CreateContact/ContactAssignmentToSite/MSS/Request/New folder/schema2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://xmlns.oracle.com/apps/cdm/foundation/parties/customerAccountService/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/customerAccountService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomerAccountId" type="xs:unsignedLong" />
  <xs:element name="PartyId" type="xs:unsignedLong" />
  <xs:element name="CustomerAccountContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CustomerAccountId" type="xs:unsignedLong" />
        <xs:element name="PrimaryFlag" type="xs:boolean" />
        <xs:element name="RoleType" type="xs:string" />
        <xs:element name="CreatedByModule" type="xs:string" />
        <xs:element name="RelationshipId" type="xs:unsignedLong" />
        <xs:element name="CustomerAccountContactRole">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ResponsibilityType" type="xs:string" />
              <xs:element name="PrimaryFlag" type="xs:boolean" />
              <xs:element name="CreatedByModule" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>