NetSuiteWebhook/NetSuiteWebhook/Files/NS_FU/Fusion/BillToSite/BillToSiteReponse.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DATA_DS">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="G_1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PARTY_NAME" type="xs:string" />
              <xs:element name="ACCOUNT_NUMBER" type="xs:string" />
              <xs:element name="PARTY_SITE_ID" type="xs:string" />
              <xs:element name="PARTY_SITE_NAME" type="xs:string" />
              <xs:element name="PARTY_SITE_NUMBER" type="xs:string" />
              <xs:element name="SITE_ADDRESS" type="xs:string" />
              <xs:element name="BILL_TO_NAME" type="xs:string" />
              <xs:element name="BILL_TO_ID" type="xs:string" />
              <xs:element name="CON_NOR" type="xs:string" />
              <xs:element name="NORMAL_RATE" type="xs:string"/>
              <xs:element name="CONCESSIONAL_RATE" type="xs:string"/>
              <xs:element name="VALIDITY_PERIOD" type="xs:string"/>
              <xs:element name="BU_NAME" type="xs:string"/>
              <xs:element name="SITE_USE_CODE" type="xs:string" />
              <xs:element name="BILL_TO_SITE_USE_ID" type="xs:string"/>
              <xs:element name="BILL_TO_LOCATION" type="xs:string"/>
              <xs:element name="BILL_TO_SITE_NUMBER" type="xs:string"/>
              <xs:element name="CUSTOMER_SOURCE_REF" type="xs:string"/>
              <xs:element name="ACCOUNT_SOURCE_REF" type="xs:string" />
              <xs:element name="SITE_SOURCE_REF" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>