RPA/RPA/WebServiceClient/WSDLTESTORACLEFUSION/ActivityApplication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns2="http://xmlns.oracle.com/apps/flex/financials/receivables/receipts/shared/standardReceiptService/commonService/ActivityApplicationGdf/" xmlns:sdoXML="commonj.sdo/xml" xmlns:sdoJava="commonj.sdo/java" xmlns:sdo="commonj.sdo" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/" xmlns:ns1="http://xmlns.oracle.com/apps/flex/financials/receivables/receipts/shared/standardReceiptService/commonService/ActivityApplicationDff/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/" sdoJava:package="oracle.apps.financials.receivables.receipts.shared.standardReceiptService.commonService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="ReceivableApplicationFLEX(1).xsd" namespace="http://xmlns.oracle.com/apps/flex/financials/receivables/receipts/shared/standardReceiptService/commonService/ActivityApplicationDff/" />
  <xsd:import schemaLocation="ReceivableApplicationGdf.xsd" namespace="http://xmlns.oracle.com/apps/flex/financials/receivables/receipts/shared/standardReceiptService/commonService/ActivityApplicationGdf/" />
  <xsd:import schemaLocation="sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:import schemaLocation="sdoModel.xsd" namespace="commonj.sdo" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/">Receivables Standard Receipt Activity Application SDO</name>
      <description xmlns="http://xmlns.oracle.com/apps/financials/receivables/receipts/shared/standardReceiptService/commonService/">Receipt Activity Application</description>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="A unit of an enterprise that performs one or more business functions that can be rolled up in a management hierarchy." name="BusinessUnit" />
        <oer:attribute description="Cash receipt number." name="ReceiptNumber" />
        <oer:attribute description="Receivable Trx Name" name="ReceivableTrxName" />
        <oer:attribute description="For same currency applications, the total amount of the application in the currency of the receipt and transaction.  For cross currency applications, the total amount of the application in the currency of the  transaction." name="AmountApplied" />
        <oer:attribute description="Date the application was applied." name="ApplyDate" />
        <oer:attribute description="Date that this application will post to the General Ledger." name="ApplyGlDate" />
        <oer:attribute description="Identifies the payment schedule of the debit item or credit memo that a payment or credit memo was applied to." name="AppliedPaymentScheduleId" />
        <oer:attribute description="This column is used to reference the transaction that is associated with the short term debt application." name="LinkToCustomerTrxId" />
        <oer:attribute description="Identifier of receivable activity." name="ReceivablesTrxId" />
        <oer:attribute description="Code defined by public sector accounting." name="USSGLTransactionCode" />
        <oer:attribute description="Comments." name="Comments" />
        <oer:attribute description="Payment Set ID." name="PaymentSetId" />
        <oer:attribute description="Customer Reference." name="CustomerReference" />
        <oer:attribute description="Value of Write-off limits." name="ValWriteoffLimits" />
        <oer:attribute description="Netted Receipt." name="NettedReceipt" />
        <oer:attribute description="Cash Receipt Id of Netted Cash Receipt." name="NettedCashReceiptId" />
        <oer:attribute description="Secondary Application Reference Type." name="SecondaryApplicationReferenceType" />
        <oer:attribute description="Secondary Application Reference Number." name="SecondaryApplicationReferenceNumber" />
        <oer:attribute description="Customer Reason." name="CustomerReason" />
        <oer:attribute description="Pay Group Lookup Code." name="PayGroupLookupCode" />
        <oer:attribute description="Pay alone flag." name="PayAlone" />
        <oer:attribute description="Payment Method code." name="PaymentMethodCode" />
        <oer:attribute description="Payment reason code." name="PaymentReasonCode" />
        <oer:attribute description="Payment reason comments." name="PaymentReasonComments" />
        <oer:attribute description="Delivery Channel code." name="DeliveryChannelCode" />
        <oer:attribute description="Remittance Message 1." name="RemitMessage" />
        <oer:attribute description="Remittance Message 2." name="RemittanceMessage" />
        <oer:attribute description="Remittance Message 3." name="RemitingMessage" />
        <oer:attribute description="Party Id." name="PartyId" />
        <oer:attribute description="Party Site Id." name="PartySiteId" />
        <oer:attribute description="Bank Account Id." name="BankAccountId" />
        <oer:attribute description="View Accessor of Recevable Application DFF." name="ReceivableApplicationFLEXVA" />
        <oer:attribute description="View Accessor of Recevable Application GDF." name="ActivityApplicationGdfVA" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="ActivityApplicationResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="ActivityApplication" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ActivityApplication">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>ReceivableApplicationId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="BusinessUnit" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ReceiptNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ReceivableTrxName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AmountApplied" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="ApplyDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="ApplyGlDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="AppliedPaymentScheduleId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="LinkToCustomerTrxId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="ReceivablesTrxId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="USSGLTransactionCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PaymentSetId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="CustomerReference" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ValWriteoffLimits" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="NettedReceipt" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="NettedCashReceiptId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="SecondaryApplicationReferenceType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SecondaryApplicationReferenceNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CustomerReason" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PayGroupLookupCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PayAlone" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PaymentMethodCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PaymentReasonCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PaymentReasonComments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DeliveryChannelCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RemitMessage" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RemittanceMessage" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RemitingMessage" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartySiteId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="BankAccountId" nillable="true" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" name="ReceivableApplicationFLEXVA" type="ns1:ReceivableApplicationFLEX" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" name="ActivityApplicationGdfVA" type="ns2:ReceivableApplicationGdf" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="activityApplication" type="ActivityApplication" />
  <xsd:element name="activityApplicationResult" type="ActivityApplicationResult" />
</xsd:schema>